<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>新規会員登録</h2>
      <p>which user are you?</p>
      <div class="field btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input type="radio" name="userable" value="company" autocomplete="off"> Company<br>
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="userable" value="employee" autocomplete="off"> Employee<br>
        </label>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.lebel :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "山田太郎" %>
        </div>

        <div class="field">
          <%= f.lebel :名前（カナ）%><br />
          <%= f.text_field :name_kana, autofocus: true, autucomplete: "name_kana", placeholder: "ヤマダタロウ" %>
        </div>

        <div class="field">
          <%= f.lebel :電話番号 %><br />
          <%= f.text_field :tell, autofocus: true, autocomplete: "tell", placeholder: "01234567890 ハイフン無しで入力"%>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "xxxx@xxxx.com" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規会員登録" class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
