<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>新規会員登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :どちらのユーザとして登録しますか? %><br />
          <%= f.radio_button :userable, "company" %>出店者&ensp;&ensp;:
          &ensp;&ensp;<%= f.radio_button :userable, "employee" %>ユーザ
        </div>

        <div class="field">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "山田太郎", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :名前（カナ）%><br />
          <%= f.text_field :name_kana, autofocus: true, autucomplete: "name_kana", placeholder: "ヤマダタロウ", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :電話番号 %><br />
          <%= f.text_field :tell, autofocus: true, autocomplete: "tell", placeholder: "01234567890 ハイフン無しで入力", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "xxxx@xxxx.com", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "新規会員登録", class: "btn btn-success form-control" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
