<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<%= form_for (@company) do |f| %>
				<table class="table">
					<tr>
						<td><%= f.label :お店の名前 %></td>
						<td><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "レストラン◯◯ ◯◯店", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :お店の名前（カナ） %></td>
						<td><%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana", placeholder: "レストラン◯◯ ◯◯テン", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :電話番号 %></td>
						<td><%= f.text_field :tell, autofocus: true, autocomplete: "tell", placeholder: "01234567890 ハイフン無しで入力", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :メールアドレス %></td>
						<td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :郵便番号 %></td>
						<td><%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", placeholder: "0000000 ハイフン無しで入力", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :住所 %></td>
						<td><%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都◯◯区◯◯ 0-0-0", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :場所 %></td>
						<td><%= f.text_field :location, autofocus: true, autocomplete: "location", placeholder: "◯◯駅から徒歩◯◯分", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :給与 %></td>
						<td><%= f.text_field :salary, autofocus: true, autocomplete: "salary", placeholder: "時給◯◯円", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :写真 %></td>
						
					</tr>
					<tr>
						<td><%= f.label :条件 %></td>
						<td><%= f.text_field :condition, autofocus: true, autocomplete: "condition", placeholder: "週休◯◯日", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :求人 %></td>
						<td><%= f.number_field :offering, :min => "0", :max => "30" %>人</td>
					</tr>
					<tr>
						<td><%= f.label :お店の紹介文 %></td>
						<td><%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", placeholder: "120文字まで", class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :情報公開 %></td>
						<td><%= f.select :status, [["公開する", "release"], ["非公開にする", "nonrelease"]] %></td>
					</tr>
					<tr>
						<td></td>
						<td><%= f.submit "情報を保存する", class: "btn btn-success" %></td>
					</tr>
				</table>
			<% end %>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>