<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-9">
			<h5>情報公開日 : (<%= @company.updated_at %>)</h5>
			<p class="text-center"><%= @company.introduction %></p>
			<table class="table">
				<tr>
					<td rowspan="9">
						<%= attachment_image_tag @company, :image_id, size: '300x300', fallback: "images.png" %>
					</td>
					<th colspan="3">
						<%= @company.name %>(<%= @company.name_kana %>)
					</th>
				</tr>
				<tr>
					<th>給与 :</th>
					<td><%= @company.salary %></td>
				</tr>
				<tr>
					<th>場所 :</th>
					<td><%= @company.location %></td>
				</tr>
				<tr>
					<th>条件 :</th>
					<td><%= @company.condition %></td>
				</tr>
				<tr>
					<th>求人数 :</th>
					<td><%= @company.offering %></td>
				</tr>
				<tr>
					<th>電話番号 :</th>
					<td><%= @company.tell %></td>
				</tr>
				<tr>
					<th rowspan="2">郵便番号 :</th>
					<td><%= @company.post_code %></td>
				</tr>
				<tr>
					<td><%= @company.address %></td>
				</tr>
				<tr>
					<th>メールアドレス :</th>
					<td><%= @company.email %></td>
				</tr>
				<tr>
					<th></th>
					<td colspan="2">
						<% if company_signed_in? %>
							<%= link_to "お店情報編集", edit_company_path, class: "btn btn-warning" %>
						<% elsif employee_signed_in? %>
							<%= link_to "チャット開始", chat_path, class: "btn btn-primary" %>
						<% else %>
							<%= link_to "ログインしてチャットする", new_employee_session_path, class: "btn btn-info" %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
