<div class="container">
  <div class="row">
    <%= devise_error_messages! %>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>出展者として新規会員登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :お店の名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "レストラン◯◯ ◯◯店", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :お店の名前（カナ） %><br />
          <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana", placeholder: "レストラン◯◯ ◯◯テン", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :電話番号 %><br />
          <%= f.text_field :tell, autofocus: true, autocomplete: "tell", placeholder: "01234567890 ハイフン無しで入力", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :郵便番号 %><br />
          <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", placeholder: "0000000 ハイフン無しで入力", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :住所 %><br />
          <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都◯◯区◯◯ 0-0-0", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :場所 %><br />
          <%= f.text_field :location, autofocus: true, autocomplete: "location", placeholder: "◯◯駅から徒歩◯◯分", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :給与 %><br />
          <%= f.text_field :salary, autofocus: true, autocomplete: "salary", placeholder: "時給◯◯◯◯円", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :条件 %><br />
          <%= f.text_field :condition, autofocus: true, autocomplete: "condition", placeholder: "週休◯◯日", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :求人 %><br />
          <%= f.number_field :offering, :min => "0", :max => "30" %>人
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :パスワード（確認） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "新規会員登録", class: "btn btn-success form-control" %>
        </div>
      <% end %>

      <%= render "companies/shared/links" %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
