<div class="container">
	<div class="row">
		<div class="card">
			<div class="card-header"><%= @user.name %> (<%= @user.name_kana %> )</div>
			<div class="card-body">
				<h5 class="card-title"><%= @user.introduction %></h5>
				<p class="card-text"><%= @user.location %></p>
				<div class="col-sm-4">
					<%= attachment_image_tag @user, :image, size: "100x100", fallback: "images.png" %>
				</div>
				<div class="col-sm-8">
					<table class="table">
						<tr>
							<td>求人数</td>
							<td><%= @user.offering %></td>
						</tr>
						<tr>
							<td>給与</td>
							<td><%= @user.salary %></td>
						</tr>
						<tr>
							<td>条件</td>
							<td><%= @user.condition %></td>
						</tr>
						<tr>
							<td>電話番号</td>
							<td><%= @user.tell %></td>
						</tr>
						<tr>
							<td>住所</td>
							<td><%= @user.post_code %></td>
						</tr>
						<tr>
							<td></td>
							<td><%= @user.address %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div>
			<% if user_signed_in? && @user.userable == company %>
				<%= link_to "情報編集", user, class: "btn btn-success" %>
			<% else %>
				<%= link_to "ログインしてチャットする", new_user_session_path, class: "btn btn-info" %>
			<% end %>
		</div>
		<% if user_signed_in? && @user.userable == company %>
			<%= @chat.each do |chat| %>
				<table class="table">
					<tbody>
						<tr>
							<td><%= chat.user.name %></td>
							<td><%= chat.updated_at %></td>
							<td><%= chat.body.last %></td>
							<td><%= link_to "チャットする", chat, class: "btn btn-primary" %></td>
							<td><%= link_to "削除する", company_show_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
		<% end %>
	</div>
</div>
