<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table">
				<tbody>
					<tr>
						<td>名前</td>
						<td><%= @user.name %></td>
					</tr>
					<tr>
						<td>名前（カナ）</td>
						<td><%= @user.name_kana %></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= @user.tell %></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= @user.email %></td>
					</tr>
					<tr>
						<td>生年月日（年齢）</td>
						<td><%= @user.birthday %>（ <%= @age %>才 ）</td>
					</tr>
					<tr>
						<td>自己紹介文</td>
						<td><%= @user.introduction %></td>
					</tr>
				</tbody>
			</table>
			<%= link_to "ユーザ情報編集画面へ", edit_user_path(@user), class: "btn btn-info" %>&ensp;
			<%= link_to "退会する", users_path, method: :delete, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger" %>
		</div>
		<div class="col-md-3"></div>
		<h2>チャット中のお店の一覧</h2>
		<table class="table">
<!-- 			<%= @chat.each do |chat| %>
				<tr>
					<td></td>
				</tr>
			<% end %> -->
		</table>
	</div>
</div>