<!DOCTYPE html>
<html>
  <head>
    <title>Jobapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_react' %>
  </head>

  <body>
    <header>
      <div class="container">
        <ul class="nav navbar-left">
          <li>
            <h2>jobapp</h2>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? && user.type == employee %>
            <li><%= link_to 'お店一覧', user_path(current_user), class: "btn" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>
          <% elsif user_signed_in? && user.type == company %>
            <li><%= link_to 'ユーザ一覧', user_path(current_user), class: "btn" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>
          <% elsif user_signed_in? && current_user.admin == true %>
            <li><%= link_to 'お店一覧', root_path, class: "btn" %></li>
            <li><%= link_to 'user一覧', users_path, class: "btn" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>
          <% else %>
            <li><%= link_to '新規会員登録', new_user_registration_path, class: "btn" %></li>
            <li><%= link_to 'ログイン', new_user_session_path, class: "btn" %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
